*{
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}   


.logo{

    width: 10px;
    height: 10px;
}
